.abc{width: 400px;
	border: 1px solid black;
}
.img{
	border: 1px solid black;
	width: 400px;
       }


  .dfg{
  	border: 1px solid black;
  	width: 400px;
  }     

.vale{
	border: 1px solid black;
	width: 400px;
}

.text{
	border: 1px solid black;
	margin-bottom: 30px;

}
.mal{

}

h1{
	text-align: center;
}